* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #d7e4f6, #b5e1f0, #9adcd9, #99d4b2, #b2c687) ;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  width: min(200px, 90%);
}

button {
  width: 52px;
  height: 42px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}

input {
  border-radius: 4px;
  height: 52px;
  margin-bottom: 2px;
  text-align: right;
  padding-right: 8px;
  border: none;
}

main div.row {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}